.container {
    margin-top: 20px;
}
  
.titulo {
    color: #000000;
    font-size: 44px;
    margin-top: 100px;
    margin-bottom: 100px;
    text-align: center;
}

.links {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.link-box {
    flex: 0 0 calc(20% - 20px);
    margin-right: 20px;
    margin-bottom: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-decoration: none;
    color: #000;
    transition: background-color 0.3s ease;
}

.link-box:hover {
    background-color: #f5f5f5;
}

.link-content {
    padding: 10px;
}

.link-content p {
    margin: 0;
}

.link-content span {
    font-size: 12px;
}
  